#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# Copyright (c) 2021 alexcoder04 <https://github.com/alexcoder04>
# 
# i3/sway bar configuration

# ------------------------------------------------------------------------------
# BAR
# ------------------------------------------------------------------------------

bar {
    colors {
        background		$black
        statusline		$black
        separator		$black
        
        # color of		    border, 	background,	text
        focused_workspace	$blue		$blue		$black
        active_workspace	$blue		$blue		$black
        inactive_workspace	$black		$black		$white
        urgent_workspace	$red		$red		$white
    }
    status_command +I3_STATUS_COMMAND+
    position top
    font pango: +I3_FONT+
    +I3_BAR_HEIGHT+
}

