#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# Copyright (c) 2021 alexcoder04 <https://github.com/alexcoder04>
# 
# i3-gaps/sway gaps config
# 

# ------------------------------------------------------------------------------
# GAPS
# ------------------------------------------------------------------------------
gaps inner                          10
gaps outer                          5
bindsym $mod+$gaps_modifier         gaps inner all minus 3
bindsym $mod+Shift+$gaps_modifier   gaps inner all plus 3
bindsym $mod+Ctrl+$gaps_modifier    gaps inner all set 10

