#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# Copyright (c) 2021-2022 alexcoder04 <https://github.com/alexcoder04>
# 
# i3/sway configuration variables

# ------------------------------------------------------------------------------
# VARIABLES
# ------------------------------------------------------------------------------

# Keys
set $mod				Mod4
set $alt				Mod1
set $gaps_modifier		F9
set $layout_modifier	w

# global settings
focus_follows_mouse		no
font pango:				+I3_FONT+
set $border_width       +I3_BORDER_WIDTH+

