#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# Copyright (c) 2021-2022 alexcoder04 <https://github.com/alexcoder04>
# 

# dropdown terminal definition
for_window [app_id="dropdown"] floating enable
for_window [app_id="dropdown"] resize set 1500 800
for_window [app_id="dropdown"] move scratchpad
for_window [app_id="dropdown"] border pixel 7

# floating windows
for_window [app_id="i3_float"]             floating enable
for_window [class="i3_float"]              floating enable
for_window [app_id="Gnome-2048"]           floating enable
for_window [app_id="Qemu-system-x86_64"]   floating enable
for_window [app_id="TIPP10"]               floating enable
for_window [app_id="[Pp]avucontrol"]       floating enable
for_window [app_id="calculator"]           floating enable
for_window [class="Gpick"]                 floating enable
for_window [title="[Ss]ignal"]             floating enable
for_window [class="scrcpy"]                floating enable

# app to workspace
assign [app_id="mpv"]            $w2_media
assign [app_id="obs"]            $w2_media
assign [app_id="vlc"]            $w2_media
assign [class="[Ff]irefox"]      $w1_browser
assign [class="qutebrowser"]     $w1_browser
assign [title="[Ss]ignal"]       $w8_browser2

# re-generate the config and reload
bindsym Ctrl+$alt+shift+r exec sh -c '. libsh || exit 1; [ -z "$DOTFILES_REPO" ] && die_gui "DOTFILES_REPO not defined"; cd "$DOTFILES_REPO" || die_gui "cannot cd to $DOTFILES_REPO"; RECONF_I3_MODE=sway ./install i3 || die_gui "install i3 failed"; notify-send "reloading sway..."; sleep 1; swaymsg reload || die_gui "reload failed"'

