#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# Copyright (c) 2021-2022 alexcoder04 <https://github.com/alexcoder04>
# 
# sway (wayland) options

# Colors
set $green      +COLOR_GREEN+
set $red        +COLOR_RED+
set $blue       +COLOR_BLUE+
set $white      +COLOR_WHITE+
set $black      +COLOR_BLACK+
set $light_grey +COLOR_LIGHT_GREY+
set $dark_grey  +COLOR_DARK_GREY+

# reload config
bindsym $alt+Ctrl+r reload

# keyboard stuff
input type:keyboard {
    xkb_layout de
    xkb_options caps:escape
    repeat_delay 200
    repeat_rate 70
}

# tap to click
input type:touchpad {
    tap enable
}

