#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# Copyright (c) 2021 alexcoder04 <https://github.com/alexcoder04>
# 

# dropdown terminal definition
for_window [class="dropdown"] floating enable
for_window [class="dropdown"] resize set 1500 800
for_window [class="dropdown"] move scratchpad
for_window [class="dropdown"] border pixel 7

# floating windows
for_window [class="i3_float"]             floating enable
for_window [class="Qemu-system-x86_64"]   floating enable
for_window [class="Pavucontrol"]          floating enable
for_window [class="TIPP10"]               floating enable
for_window [class="Gnome-2048"]           floating enable
for_window [class="Signal"]               floating enable
for_window [class="Catfish"]              floating enable
for_window [class="Gpick"]                floating enable
for_window [class="calculator"]           floating enable
for_window [class="Cinnamon-settings.py"] floating enable

# app to workspace
assign [class="Firefox"]        $w1_browser
assign [class="qutebrowser"]    $w1_browser
assign [class="vlc"]            $w2_media
assign [class="Signal"]         $w8_browser2
assign [class="obs"]            $w2_media
assign [class="mpv"]            $w2_media

