#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# (C) 2020-2021 alexcoder04 <https://github.com/alexcoder04>
# 
# My base i3 config
# 

# ------------------------------------------------------------------------------
# WORKSPACES
# ------------------------------------------------------------------------------

# Define the workspace names and labels
set $w0_sth                "   "
set $w1_browser            "   "
set $w2_media              "   "
set $w3_code_1             "   "
set $w4_code_2             " 1  "
set $w5_console            " 2  "
set $w6_utils              "   "
set $w7                    "   "
set $w8_browser2           "   "
set $w9_office             "   "

# Switch workspaces
bindsym $mod+0            workspace $w0_sth
bindsym $mod+1            workspace $w1_browser
bindsym $mod+2            workspace $w2_media
bindsym $mod+3            workspace $w3_code_1
bindsym $mod+4            workspace $w4_code_2
bindsym $mod+5            workspace $w5_console
bindsym $mod+6            workspace $w6_utils
bindsym $mod+7            workspace $w7
bindsym $mod+8            workspace $w8_browser2
bindsym $mod+9            workspace $w9_office

bindsym $alt+h            workspace prev
bindsym $alt+l            workspace next

# Move window to workspaces
bindsym $mod+Shift+0    move container to workspace $w0_sth
bindsym $mod+Shift+1    move container to workspace $w1_browser
bindsym $mod+Shift+2    move container to workspace $w2_media
bindsym $mod+Shift+3    move container to workspace $w3_code_1
bindsym $mod+Shift+4    move container to workspace $w4_code_2
bindsym $mod+Shift+5    move container to workspace $w5_console
bindsym $mod+Shift+6    move container to workspace $w6_utils
bindsym $mod+Shift+7    move container to workspace $w7
bindsym $mod+Shift+8    move container to workspace $w8_browser2
bindsym $mod+Shift+9    move container to workspace $w9_office

# move workspaces between mobitors
bindsym $mod+$alt+h        move workspace to output right
bindsym $mod+$alt+l        move workspace to output left

# ------------------------------------------------------------------------------
# WINDOWS
# ------------------------------------------------------------------------------

# APPEARANCE
# Color of                border, background, text,        indicator,child_border
client.focused            $green  $green      $black       $blue
client.unfocused          $blue   $black      $light_grey  $light_grey
client.focused_inactive   $blue   $dark_grey  $light_grey  $black
client.urgent             $red    $red        $white       $white

# Border
default_border pixel 3

# NAVIGATION
# Navigating through the windows
bindsym $mod+h            focus left
bindsym $mod+j            focus down
bindsym $mod+k            focus up
bindsym $mod+l            focus right

# Move the focused window
bindsym $mod+Shift+h    move left
bindsym $mod+Shift+j    move down
bindsym $mod+Shift+k    move up
bindsym $mod+Shift+l    move right

# BEHAVIOUR
# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier        $mod

# close window
bindsym $mod+q           kill

# Split in horizontal orientation
bindsym $mod+Shift+$layout_modifier    split h
# Split in vertical orientation
bindsym $mod+$layout_modifier          split v

# Fullscreen mode
bindsym $mod+F11          fullscreen toggle

# Select all windows
bindsym $alt+z            focus parent

# Change focus between tiling / floating windows
bindsym $alt+space        focus mode_toggle

# Toggle tiling / floating
bindsym $mod+space        floating toggle

# LAYOUTS
# Possible layouts: 'default', 'stacked', 'stacking', 'tabbed', 'splitv', 'splith', 'toggle'
bindsym $alt+$layout_modifier          layout splith
bindsym $alt+Ctrl+$layout_modifier     layout splitv
bindsym $alt+Shift+$layout_modifier    layout tabbed

# ------------------------------------------------------------------------------
# KEYBINDINGS
# ------------------------------------------------------------------------------

# Fallback terminal
bindsym $mod+F10        exec +TERMINAL_MAIN+

# other keybindings were moved to a separate program (sxhkd)

# ------------------------------------------------------------------------------
# RESIZE WINDOWS
# ------------------------------------------------------------------------------

bindsym Ctrl+$alt+h          resize shrink      width 1 px or 1 ppt
bindsym Ctrl+$alt+j          resize grow        height 1 px or 1 ppt
bindsym Ctrl+$alt+k          resize shrink      height 1 px or 1 ppt
bindsym Ctrl+$alt+l          resize grow        width 1 px or 1 ppt

bindsym Ctrl+$alt+Shift+h    resize shrink      width 15 px or 15 ppt
bindsym Ctrl+$alt+Shift+j    resize grow        height 15 px or 15 ppt
bindsym Ctrl+$alt+Shift+k    resize shrink      height 15 px or 15 ppt
bindsym Ctrl+$alt+Shift+l    resize grow        width 15 px or 15 ppt

# ------------------------------------------------------------------------------
# AUTOSTART
# ------------------------------------------------------------------------------
# all of my autostart stuff is handled by a separate script,
# for better maintainence and possible moving to another WM
exec_always +PRE_X+ wm-init
exec_always +BARS_LAUNCHER_COMMAND+

