#        _                        _            ___  _  _   
#   __ _| | _____  _____ ___   __| | ___ _ __ / _ \| || |  
#  / _` | |/ _ \ \/ / __/ _ \ / _` |/ _ \ '__| | | | || |_ 
# | (_| | |  __/>  < (_| (_) | (_| |  __/ |  | |_| |__   _|
#  \__,_|_|\___/_/\_\___\___/ \__,_|\___|_|   \___/   |_|  
# 
# Copyright (c) 2021 alexcoder04 <https://github.com/alexcoder04>
# 
# i3/sway x11 options

# Colors
set_from_resource $green		i3wm.color2   #00ff00
set_from_resource $red			i3wm.color1   #ff0000
set_from_resource $blue			i3wm.color6   #008888
set_from_resource $white		i3wm.color7   #ffffff
set_from_resource $black		i3wm.color0   #000000
set_from_resource $light_grey	i3wm.color8   #555555
set_from_resource $dark_grey	i3wm.color15  #dddddd

# restart wm
bindsym $alt+Ctrl+r restart

