# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

*/20 * * * * eval "export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"; notify-send "Updating RSS feeds..."; /usr/bin/newsboat -x reload && notify-send "Updated RSS feeds"
*/15 * * * * DISPLAY=:0 /home/alex/bin/wallpaper-random

