
# m h  dom mon dow   command

0 * * * * myenv /usr/bin/newsboat -c $XDG_CACHE_HOME/newsboat/00main.cache -u $XDG_CONFIG_HOME/newsboat/00main.urls -x reload
*/15 * * * * myenv sh -c 'DISPLAY=:1 XAUTHORITY=$HOME/.local/share/sx/xauthority wallpaper-select random'
0 * * * * myenv /usr/bin/trash-empty 14

