#  ____ _____ 
# |  _ \_   _|  Derek Taylor (DistroTube)
# | | | || |    http://www.youtube.com/c/DistroTube
# | |_| || |    http://www.gitlab.com/dwt1/ 
# |____/ |_|  	

;=====================================================
;
; To learn more about how to configure Polybar
; go to https://github.com/jaagr/polybar
;
; The README contains alot of information
; Themes : https://github.com/jaagr/dots/tree/master/.local/etc/themer/themes
; https://github.com/jaagr/polybar/wiki/
; https://github.com/jaagr/polybar/wiki/Configuration
; https://github.com/jaagr/polybar/wiki/Formatting
;
;=====================================================

[global/wm]
;https://github.com/jaagr/polybar/wiki/Configuration#global-wm-settings
margin-top = 0
margin-bottom = 0

[settings]
;https://github.com/jaagr/polybar/wiki/Configuration#application-settings
throttle-output = 5
throttle-output-for = 10
screenchange-reload = true
compositing-background = over
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over

; Define fallback values used by all module formats
format-foreground = #FF0000
format-background = #00FF00
format-underline =
format-overline =
format-spacing =
format-padding =
format-margin =
format-offset =

[colors]
; Nord theme ============
background = #90282a36
foreground = #f8f8f2
alert = #bd2c40
cyan = #8be9fd
green = #50fa7b
yellow = #f1fa8c
magenta = #ff79c6
purple = #bd93f9
red = #ff5555
lightgrey = #dddddd

################################################################################
############                         MAINBAR-I3                     ############
################################################################################

[bar/mainbar-i3]
;https://github.com/jaagr/polybar/wiki/Configuration

monitor = HDMI-1
monitor-strict = false
override-redirect = false
bottom = false
fixed-center = true
width = 100%
height = 27

background = ${colors.background}
foreground = ${colors.foreground}

radius = 0.0
line-size = 2
line-color = #000000

border-size = 0

padding-left = 1
padding-right = 1

module-margin-left = 0
module-margin-right = 0

font-0 = "Inconsolata:size=14;3"
font-1 = "FontAwesome:size=13;2"

modules-left = i3 xwindow 
modules-center = 
modules-right = bitcoin battery cpu temperature cpufreq memory wireless-network date volume 

separator =  " "

tray-position = right
tray-detached = false
tray-maxsize = 20
tray-background = ${colors.background}
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 4
tray-scale = 1.0

#i3: Make the bar appear below windows
;wm-restack = i3
;override-redirect = true

; Enable support for inter-process messaging
; See the Messaging wiki page for more details.
enable-ipc = true

; Fallback click handlers that will be called if
; there's no matching module handler found.
click-left =
click-middle =
click-right =
scroll-up = i3wm-wsnext
scroll-down = i3wm-wsprev
double-click-left =
double-click-middle =
double-click-right =

; Requires polybar to be built with xcursor support (xcb-util-cursor)
; Possible values are:
; - default   : The default pointer as before, can also be an empty string (default)
; - pointer   : Typically in the form of a hand
; - ns-resize : Up and down arrows, can be used to indicate scrolling
cursor-click =
cursor-scroll =

################################################################################
############                       MODULE I3                        ############
################################################################################

[module/i3]
;https://github.com/jaagr/polybar/wiki/Module:-i3
type = internal/i3

; Only show workspaces defined on the same output as the bar
pin-workspaces = true

; This will split the workspace name on ':'
; Default: false
strip-wsnumbers = false

; Sort the workspaces by index instead of the default
; sorting that groups the workspaces by output
; Default: false
index-sort = false

enable-click = true

enable-scroll = true

; Wrap around when reaching the first/last workspace
; Default: true
wrapping-scroll = false

reverse-scroll = false

label-mode = %mode%
label-mode-padding = 1

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon%  %name%
; focused = Active workspace on focused monitor
label-focused = %name%
label-focused-background = #40f8f8f2
label-focused-foreground = ${colors.foreground}
label-focused-underline = ${colors.green}
label-focused-padding = 1

label-urgent = %name%
label-urgent-background = #40f8f8f2
label-urgent-foreground = #ff5555
label-urgent-padding = 1
label-urgent-underline = #ff5555

label-unfocused-padding = 1
label-visible-padding = 1

format-foreground = ${colors.foreground}
format-background = ${colors.background}

###############################################################################
############                       MODULES A-Z                      ############
################################################################################

[module/battery]
;https://github.com/jaagr/polybar/wiki/Module:-battery
type = internal/battery
interval = 15
battery = BAT1
adapter = AC0
full-at = 97

format-charging = <animation-charging> <label-charging>
label-charging =  %percentage%%
format-charging-foreground = ${colors.foreground}
format-charging-background = ${colors.background}
format-charging-underline = ${colors.green}

format-discharging = <ramp-capacity> <label-discharging>
label-discharging =  %percentage%%
format-discharging-underline = ${colors.yellow}
format-discharging-foreground = ${colors.foreground}
format-discharging-background = ${colors.background}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.green}
format-full-underline = ${colors.green}
format-full-foreground = ${colors.foreground}
format-full-background = ${colors.background}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
ramp-capacity-foreground = ${colors.foreground}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-foreground = ${colors.green}
animation-charging-framerate = 1500

################################################################################
[module/bitcoin]
type = custom/script
exec = bitcoinprice +symbol
interval = 600

format-background = ${colors.background}
format-foreground = ${colors.foreground}
format-underline = ${colors.green}

################################################################################

[module/cpu]
;https://github.com/jaagr/polybar/wiki/Module:-cpu
type = internal/cpu
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.magenta}
label-font = 1

################################################################################
[module/cpufreq]
type = custom/script
exec = cat /proc/cpuinfo | grep "cpu MHz" | head -n 1 | awk '{print $NF,"MHz"}'
interval = 3

format-prefix = " "
format-background = ${colors.background}
format-foreground = ${colors.foreground}
format-underline = ${colors.cyan}

################################################################################

[module/date]
;https://github.com/jaagr/polybar/wiki/Module:-date
type = internal/date
interval = 1
date = "%d.%m.%Y"
time = "%H:%M:%S"
format-prefix = "  "
format-prefix-foreground = ${colors.foreground}
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-underline = ${colors.foreground}
label = "%date% %time% "

################################################################################

[module/memory]
;https://github.com/jaagr/polybar/wiki/Module:-memory
type = internal/memory
interval = 10
; Available tokens:
;   %percentage_used% (default)
;   %percentage_free%
;   %gb_used%
;   %gb_free%
;   %gb_total%
;   %mb_used%
;   %mb_free%
;   %mb_total%
label = %mb_used%

format = <label>
format-prefix = "  "
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.purple}
format-foreground = ${colors.foreground}
format-background = ${colors.background}

################################################################################

[module/temperature]
;https://github.com/jaagr/polybar/wiki/Module:-temperature
type = internal/temperature
interval = 5
; Thermal zone to use
; To list all the zone types, run
; $ for i in /sys/class/thermal/thermal_zone*; do echo "$i: $(<$i/type)"; done
; Default: 0
thermal-zone = 0

; Full path of temperature sysfs path
; Use `sensors` to find preferred temperature source, then run
; $ for i in /sys/class/hwmon/hwmon*/temp*_input; do echo "$(<$(dirname $i)/name): $(cat ${i%_*}_label 2>/dev/null || echo $(basename ${i%_*})) $(readlink -f $i)"; done
; to find path to desired file
; Default reverts to thermal zone setting
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon2/temp1_input

warn-temperature = 50
format = <ramp> <label>
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-underline = ${colors.red}
format-warn = <ramp> <label-warn>
format-warn-underline = #c7254f
label = %temperature-c%
label-warn =  %temperature-c%
label-warn-foreground = ${colors.yellow}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 
ramp-foreground =${colors.foreground}

################################################################################

[module/volume]
;https://github.com/jaagr/polybar/wiki/Module:-volume
type = internal/alsa
format-volume = "<label-volume> <bar-volume>"
format-underline = ${colors.red}

label-volume = " "
label-volume-foreground = ${colors.foreground}
label-muted = muted

bar-volume-width = 5
bar-volume-foreground-0 = ${colors.green}
bar-volume-foreground-1 = ${colors.green}
bar-volume-foreground-2 = ${colors.green}
bar-volume-foreground-3 = ${colors.green}
bar-volume-foreground-4 = ${colors.green}
bar-volume-foreground-5 = ${colors.green}
bar-volume-foreground-6 = ${colors.green}
bar-volume-gradient = false
bar-volume-indicator = 
bar-volume-indicator-font = 2
bar-volume-fill = 
bar-volume-fill-font = 2
bar-volume-empty = 
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground}
format-volume-foreground = ${colors.foreground}
format-volume-background = ${colors.background}
format-muted-prefix = "  "
format-muted-prefix-foreground = ${colors.red}
format-muted-foreground = ${colors.red}
format-muted-background = ${colors.background}

################################################################################

[module/wireless-network]
;https://github.com/jaagr/polybar/wiki/Module:-network
type = internal/network
interface = wlp0s20f3
interval = 5
label-connected =  %upspeed%  %downspeed%

format-connected = <label-connected>
format-connected-foreground = ${colors.foreground}
format-connected-background = ${colors.background}
format-connected-prefix = "  "
format-connected-prefix-foreground = ${colors.foreground}
format-connected-prefix-background = ${colors.background}
format-connected-underline = ${colors.green}

label-disconnected = " "
label-disconnected-foreground = ${colors.red}
label-disconnected-background = ${colors.background}

format-disconnected = <label-disconnected>
format-disconnected-foreground = ${colors.red}
format-disconnected-background = ${colors.background}
format-disconnected-prefix = "  "
format-disconnected-prefix-foreground = ${colors.red}
format-disconnected-prefix-background = ${colors.background}
format-disconnected-underline =${colors.red}

################################################################################

[module/xwindow]
;https://github.com/jaagr/polybar/wiki/Module:-xwindow
type = internal/xwindow

label-maxlen = 40

format-prefix = "  "
format-prefix-underline = ${colors.foreground}
format-underline = ${colors.foreground}
format-foreground = ${colors.foreground}
format-background = ${colors.background}

###############################################################################
# vim:ft=dosini
