# ------------------------------------------------------------------------------
# BAR
# ------------------------------------------------------------------------------

bar {
	colors {
		background		$black
		statusline		$black
		separator		$dark_grey
		
		# color of		border, 	background,	text
		focused_workspace	$blue		$blue		$black
		active_workspace	$blue		$blue		$black
		inactive_workspace	$black		$black		$white
		urgent_workspace	$red		$red		$white
	}
	status_command +I3_STATUS_COMMAND+
	position top
	font pango: +I3_FONT_BAR+
	height 25
}

